## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

You are a Data Analyst at Lego working with the Sales/Customer Success teams. The Account Executive responsible for the Star Wars partnership has asked for specific information in preparation for their meeting with the Star Wars team. Although Star Wars was critical to the survival of the brand, Lego has since introduced a wide variety of licensed sets over subsequent years.

Your two questions are as follows:

1. What percentage of all licensed sets ever released were Star Wars themed? Save your answer as a variable the_force in the form of an integer (e.g. 25).

2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)? Save your answer as a variable new_era in the form of an integer (e.g. 2012).

In [14]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [15]:
sets = pd.read_csv('datasets/lego_sets.csv')
parents = pd.read_csv('datasets/parent_themes.csv')

In [16]:
sets.info()
parents.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [31]:
sets['set_num'].isna().count()

11986

In [18]:
no_NA_sets = sets.dropna(subset = ['set_num'])

no_NA_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

In [32]:
licensed = parents[parents['is_licensed'] == True]

In [33]:
licensed_sets = no_NA_sets[no_NA_sets['parent_theme'].isin(licensed['name'])]

In [34]:
star_wars_theme = licensed_sets[licensed_sets['parent_theme'] == 'Star Wars']

In [35]:
the_force = int((len(star_wars_theme)/len(licensed_sets))*100)

51

In [36]:
grouped_sets_yr = licensed_sets.groupby(by = ['year', 'parent_theme']).agg('count')

In [37]:
grouped_sets_yr

                               set_num  name  num_parts  theme_name
year parent_theme
1999 Star Wars                      13    13          7          13
2000 Disney's Mickey Mouse           5     5          4           5
     Star Wars                      26    26         16          26
2001 Harry Potter                   11    11          6          11
     Star Wars                      14    14          9          14
...                                ...   ...        ...         ...
2017 Disney Princess                 6     6          1           6
     Minecraft                       9     9          5           9
     Pirates of the Caribbean        1     1          1           1
     Star Wars                      55    55         28          55
     Super Heroes                   72    72         46          72

[83 rows x 4 columns]

In [38]:
grouped_sets_yr.groupby("year")['set_num'].idxmax()

year
1999       (1999, Star Wars)
2000       (2000, Star Wars)
2001       (2001, Star Wars)
2002       (2002, Star Wars)
2003       (2003, Star Wars)
2004       (2004, Star Wars)
2005       (2005, Star Wars)
2006       (2006, Star Wars)
2007       (2007, Star Wars)
2008       (2008, Star Wars)
2009       (2009, Star Wars)
2010       (2010, Star Wars)
2011       (2011, Star Wars)
2012       (2012, Star Wars)
2013       (2013, Star Wars)
2014       (2014, Star Wars)
2015       (2015, Star Wars)
2016       (2016, Star Wars)
2017    (2017, Super Heroes)
Name: set_num, dtype: object

In [41]:
print("The percentage of licensed sets that are Star Wars is",the_force,"percent")
print("The year that Star Wars was not our top selling set was in 2017. The set that beat it was Super Heroes.")

The percentage of licensed sets that are Star Wars is 51 percent
The year that Star Wars was not our top selling set was in 2017. The set that beat it was Super Heroes.